__pycache__

output

data

sample_scripts

logs

.neptune

analysis

src/artifacts

src/wandb

src/summary

src/runs

metadata

tmp

analysis/results

data_behavior

/scratch/connectome/kimbo/SwiFT-IO-4-v9/SwiFT-IO/lightning_logs