__pycache__

output

data

sample_scripts

logs

.neptune

analysis

src/artifacts

src/wandb

src/summary

metadata

igmap/sub-NDARVN715MJ9_task-movieDM_space-MNI152NLin2009cAsym_desc-preproc_bold_smoothed.nii.gz

baseline_mvpa/slurm_script/logs